body {
  margin: 0;
  padding: 20px;
  background-color: black;
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 5% auto;
  max-width:  550px;
  text-align: left;
  background-color: #1F2937;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}


.title, .info h2 {
  margin: 0;
}

.title, .title-green {
  font-size: 2.5rem;
  font-weight: bolder;
}

.title-green {
  color: #4ADF86;
  margin-bottom: 1rem;
}

.info h2 {
  font-size: 1.25rem;
  color: #D5D4D8;
  font-weight: 200;
  margin-bottom: 1.5rem;
}


#btn {
  background-color: #11b981;
  padding: 0.625rem 1.5625rem;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 4rem;
  cursor: pointer;
}

.passwords {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: auto;
}
.password {
  flex: 1 1 45%;
  min-width: 100px;
  padding: 1rem 0.3rem;
  background-color:#273549;
  color: #11b981;
  border-radius: 6px;
  text-align: center;

}




@media screen and (min-width: 768px) {
  .container {
    padding: 2.5rem;
  }
}
